%form{:method => 'post', :action => '/contact'}
  %p
    %label.span-2{:for => 'name'} Name
    %input{:type => 'text', :name => 'name', :id => 'name', :value => @name ||= ''}
  %p
    %label.span-2{:for => 'email'} Email
    %input{:type => 'text', :name => 'email', :id => 'email', :value => @email ||= ''}
  %p
    %label.span-2{:for => 'message'} Message
    %textarea{:name => 'message', :id => 'message'}
      = @message ||= ''
  #submit
    %input{:type => 'submit', :value => 'Send'}

- if @info
  = @info
