%p.span-12
  I'm currently fully booked but I'm always looking for the next opportunity so please feel free to
  %a{:href => '/files/swilkin_cv.pdf'} peruse my cv
  (pdf) and
  %a{:href => '/contact'} get in touch
  if you like what you see
