%p.span-12== I'm Steve, a software developing, coffee drinking, weight lifting geek originally from Belfast, Northern Ireland but now mostly found in London

%p.span-12
  I occasionally
  %a{:href => 'http://sickbiscuit.com/blog'} blog,
  create the odd
  %a{:href => '/projects'} web app
  and I&apos;m open to discussions about
  %a{:href => '/cv'} consultancy and contract work

%p.span-12
  You can
  %a{:href => '/contact'} contact me
  or connect with me via the following social networks:

%ul#links
  %li#twitter
    %a{:href => 'http://twitter.com/stevebiscuit', :title => 'Follow Steven Wilkin on Twitter'} Twitter
  %li#facebook
    %a{:href => 'http://www.facebook.com/stevenwilkin', :title => "Become Steven Wilkin's friend on Facebook"} Facebook 
  %li#linkedin
    %a{:href => 'http://www.linkedin.com/in/stevenwilkin', :title => 'Do business with Steven Wilkin on LinkedIn'} LinkedIn 
  %li#delicious
    %a{:href => 'http://delicious.com/stevebiscuit', :title => 'Share bookmarks with Steven Wilkin on delicious'} delicious
  %li#lastfm
    %a{:href => 'http://www.last.fm/user/ahSyd', :title => "Criticise Steven Wilkin's taste in music on last.fm"} last.fm
