/*
 * styling for stevenwilkin.com
 * SJW
 */

body {
	background: #D5E6F3;
	color: #111111;
}

a {
	text-decoration: none;
	color: #033E6B;;
}

a:hover {
	color: #5D94BF;
}

ul {
	list-style: none;
	margin: 0;
}

#header {
	margin-top: 30px;
}


/* {{{ navigation */
#nav {
	margin-top: 1.5em;
}

#nav ul li {
	float: left;
	margin-right: 10px;
}

#nav ul li a {
	display: block;
}

#home li#nav_home a {
	text-decoration: underline;
}

#cv li#nav_cv a {
	text-decoration: underline;
}

#projects li#nav_projects a {
	text-decoration: underline;
}

#contact li#nav_contact a {
	text-decoration: underline;
}

/* }}} */


/* {{{{ social networking links */
ul#links li {
	float: left;
	width: 32px;
	height: 32px;
	margin-right: 5px;
}

ul#links li a {
	display: block;
	width: 32px;
	height: 32px;
	text-indent: -1000px;
}

li#twitter {
	background-image: url(/img/twitter.png);
}

li#facebook {
	background-image: url(/img/facebook.png);
}

li#linkedin {
	background-image: url(/img/linkedin.png);
}

li#delicious {
	background-image: url(/img/delicious.png);
}

li#lastfm {
	background-image: url(/img/lastfm.png);
}
/* }}} */


/* {{{ projects */
#projects dl dt {
	float: left;
	clear: left;
	height: 3em;
}

#projects dl dt a {
	float: left;
}

#projects dl dt span a {
	width: 16px;
	height: 16px;
	display: block;
	float: right;
	text-indent: -1000px;
	background-image: url(/img/github.png);
	margin-top: 3px;
}

#projects dl dd {
	float: left;
	height: 3em;
}
/* }}} */


/** {{{ contact */
label {
	float: left;
}
/* }}} */
